VITE_SUPABASE_URL=https://gyykurkhbytpjvgsyxme.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5eWt1cmtoYnl0cGp2Z3N5eG1lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMTkyNjUsImV4cCI6MjA4Nzc5NTI2NX0.Rmch8NyNT3dEhXoSFtK7joBCohwAiANNyOge2pOIWs4
GROQ_API_KEY=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